@import "~bootstrap/scss/bootstrap";
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@300;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
@import "custom.scss";
//@import "./components/Game/Play/Ingame/Over Countdown/street-fighter-style-Countdown.scss";
// @import "./components/Game/button.scss";

$base-color: white;

$base-background-color: #171717;
$background-lines: rgba(255, 255, 255, 0.1);
$falling-drop-color: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);

// Nav icons and Intro - same color
$nav-hover-color: #FCAf38;

$color-blue: #50A3A4;
$form-color: linear-gradient(to right,#FF4B2B,#FF416C);

$card-social-color: #F95335;
$card-one-social: rgb(39, 39, 206);

$Turret-Road-font: "Turret Road";

// html {
//   // height: auto;
//   // overflow-x: hidden;
// }

// body {

//   // background: #eee;
//   // margin: 0;
//   // padding: 0;
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

html, body {
  height: auto;
}
body {
  font-family: 'Montserrat', sans-serif;
  display: table;
  width: 100%;
  height: 100%;
  background-color: $base-background-color;
  //color:$base-color;
  line-height: 1.6;
  position: relative;
  font-family: sans-serif;
  // overflow: hidden;
  .lines {
    //position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    // width: 90vw;
    .line {
      position: absolute;
      width: 1px;
      height: 100%;
      top: 0;
      left: 50%;
      background: $background-lines;
      // overflow: hidden;
      &::after {
        content: '';
        display: block;
        position: absolute;
        height: 35vh;
        width: 100%;
        top: -50%;
        left: 0;
        background: $falling-drop-color;
        animation: run 7s 0s infinite;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
      }
      &:nth-child(1) {
        margin-left: -25%;
        &::after {
          animation-delay: 2s
        }
      }
      &:nth-child(3) {
        margin-left: 25%;
        &::after {
          animation-delay: 2.5s
        }
      }
    }
  }
}
@keyframes run {
  0% 
    {top: -50%}
  100%
    {top: 110%}
}
  
  
// @media (max-width: 600px)
//   .wrapper
//     padding: 0 10%



.animate-in {
  animation: fadeIn 0.5s ease-in;
}

.animate-out {
  transition: opacity 0.5s;
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.navbar {
  &__landing-page {
    // background: url("./orange_bg.jpg");
    // height: 350px;
    // background-size: cover;
    padding: 0 10px;

    h1 {
      font-family: $Turret-Road-font;
      font-weight: 600;
      letter-spacing: 0.5rem;
      //color: $color-blue;
      color: #91C7B1;
    }

    .nav-bar-container {
      // width: 100vw;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      box-shadow: 0 10px 10px -15px $nav-hover-color;
      width: 50%;

    }
    ul {
      // border-radius: 10px;
      align-items: flex-start;
      
      :last-child {
        border-right: none;
      }

      li {
        text-align: center;
        display:block;
        border-right: 1px solid $base-color;

        a {
          padding: 0 30px;
          display: block;

          &:hover .icon .fa {
            transform: translateY(-100%);
          }

          &:hover .name span {
            transform: translateY(20px);
          }

          .name {
            position: relative;
            height: 20px;
            width: 100%;
            display: block;
            overflow: hidden;

            span {
              display: block;
              position: relative;
              //color: $color-blue;
              color: #91C7B1;
              font-size: 15px;
              line-height: 20px;
              transition: 0.5s;
        
              &:before {
                content: attr(data-text);
                position: absolute;
                top:-100%;
                left: 0;
                width: 100%;
                height: 100%;
                color: $nav-hover-color;
              }
            }
          }

          .icon {
            width: 40px;
            height: 40px;
            text-align: center;
            overflow: hidden;
            margin: 0 auto 5px;

            .fa {
              width: 100%;
              height: 100%;
              line-height: 40px;
              font-size: 2rem;
              transition: 0.5s;
              // color: $color-blue
              color: #91C7B1;
            }
            :last-child {
              color: #674A40;
            }
          }
        }
      }
    }
  }
  
  &__layout {
    // background: yellow;
    height: 60px;
    box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.3);

  }
  
  &--user {
    display: flex;
    width: 100vw;
    justify-content: space-between;

    h2 {
      color: white;
      font-family: Orbitron;
    }
  }
}

main {
    display: flex;
    justify-content: space-between;
    margin: 6rem 2rem;
    // margin-top: -10rem;
    
    font-weight: 500;
    letter-spacing: 0.3rem;
    height: auto;

}

.introduction {
  //margin-top: 2em;
  margin-left: 2em;
  margin-right: 5em;
  z-index: 1;
  color: $nav-hover-color;
  font-size: 1.0em;
  font-family: $Turret-Road-font;
  text-align: center;
}


.form {
  text-align: center;
  margin-right: 3em;
}
  .form-titles{
    font-family: $Turret-Road-font;
  }
  .form-contents{
    font-family: sans-serif;
  }

.card-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  background-size: cover;
  margin-top: 27vh;

  .card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 240px 170px 80px;
    grid-template-areas: "image" "text" "contact";

    border-radius: 20px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;

    &__MK-bg {
      background: rgb(153, 190, 233);
    }

    &__AA-bg {
      background: rgb(245, 168, 168);
    }

    &__SL-bg {
      background: #f3d09b;
    }

    &:hover {
      transform: scale(1.1);
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    }

    .card-image {
      grid-area: image;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      background-size: cover;
      overflow: hidden;
      position: relative;

      img {
        position: absolute;
        left: 0;
        margin-top: -35px;
        width: 100%;
        height: auto;
        overflow: hidden;
      }
    }
    .card-text {
      grid-area: text;
      margin: 20px;

      .name {
        color: rgb(255, 7, 110)
      }

      p {
        color: gray;
        font-size: 15px;
        font-weight: 300;
      }

      h2 {
        margin-top: 0;
        font-size: 30px;
      }
    }

    .card-contact {
      grid-area: contact;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      background: $card-one-social;

      &__MK-social {
        background: #4D94FF;
      }

      &__AA-social {
        background: rgb(219, 51, 51);
      }

      &__SL-social {
        background: #FCAF38;
      }

      .contact {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        color: white;

        a {
          text-decoration: none;
          color: inherit;
          
          .fa-github {
            font-size: 22px;
            font-weight: 500;
          }
        }
      }

      .border-sides {
        border-left: 1px solid rgb(172, 26, 87);
        border-right:1px solid rgb(172, 26, 87);
      }
    }
  }
}