.table {
  font-size: 20px;

    border-radius: 5px;

  thead {

    tr {

      color: white;
      font-family: Turret Road;
      
      th{
      
        font-size: 25px;
        margin-left: 10px;
    
      }
    }
  }
}