@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@300;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');


::-webkit-scrollbar {
  width: 0;
}

.btn{
  border-radius: 20px;

  &--guest {
  visibility: hidden
  };
  //background-color: orange;
  border: 1px solid orange;
  font-family: Orbitron;
  color: white;

  
}

.collapse {
  overflow-y: scroll;
  max-height: 1000px;
  overflow:hidden;
  //background-color: #50A3A4 !important;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  //box-shadow: 120px 80px 40px 20px #0ff;
}