@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@300;800&display=swap');
// $base-color: white;
// $base-background-color: #171717;
// $nav-hover-color: #FCAf38;
// $color-blue: #50A3A4;
// $form-color: linear-gradient(to right,#FF4B2B,#FF416C);

// $card-social-color: #F95335;
// $card-one-social: rgb(39, 39, 206);

// $Turret-Road-font: "Turret Road";

.pre-game{
  background-image:url(./universe2.webp);
  background-size: cover;
  position: absolute;
  min-height: 100vh;
  width: 100vw;
  overflow-x: scroll;

  .instructions{


      margin-top: 3em;
      //background: rgba(222, 184, 135, 0.623);
      text-align: center;
    
    
      font-family:"Turret road";
      color:  #FCAf38;
      font-weight: 600
  }
}

#tutorial{
  position: fixed;
  top: 0;
  margin-top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}