.container {
  
  margin: 0 auto;
  display: grid;
  place-items: center;
  background: transparent;
  //background: linear-gradient(90deg, rgba(66,4,53,1) 0%, rgba(81,22,111,1) 35%, rgba(12,29,84,1) 100%);

}

.time {
  //font-size: 5rem;
  //margin-bottom: 1rem;
  color: black;
}

.buttons button {
  //padding: 0.8rem 2rem;
  border: none;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  transform: translateY(0);
}

.buttons button:hover {
  transform: translateY(-2px);
}


.start {
  background: #3ed927;
  color: white;
}

.pause {
  background: #e4e446;
}

.reset {
  background: #fd7171;
  color: white;
}