<h1>Welcome to Dugeball, <%= @user.username %></h1>
  <p>
    You have successfully signed up to Dogeball game,
    your username is: <%= @user.username %>.<br>
  </p>
<p>Thanks for joining and good luck do(d)ging ;D</p>